*,
*::after,
*::before {
    box-sizing: border-box;
    font-size: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --main-color: #0ea5e9;
    --secondary-color: #fafafa;
    --bg-color: #e0f2fe;
    --text-main: #000000;
    --text-white: #ffffff;
    --text-secondary: #696969;
    --shadow: 0.1rem 0.1rem 0.5rem #bae6fd;
    font-family: "Roboto";
}

img.icon {
    width: 1.5em;
}

img.profile-picture {
    width: 2em;
}

.text-secondary {
    color: var(--text-secondary);
}

#page-container {
    width: 100vw;
    height: max(100vh, 100%);
    min-height: 100vh;
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    grid-template-areas:
        "navbar header"
        "navbar main";
}

#navbar {
    --base-size: clamp(1.5em, 3vw, 1.5em);
    grid-area: navbar;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: bold;
    padding: var(--base-size);
    padding-right: calc(var(--base-size) * 1.5);
    background-color: var(--main-color);
    color: var(--text-white);
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--base-size);
}

#navbar>header {
    display: flex;
    align-items: center;
    gap: 1ch;
    font-size: var(--base-size);
}

#navbar>ul {
    display: flex;
    flex-direction: column;
    gap: 2ch;
    padding-left: 1ch;
    list-style: none;
}


#navbar li>a {
    display: flex;
    gap: 1.5ch;
    align-items: center;
}

#header {
    grid-area: header;
    background-color: var(--secondary-color);
    padding: max(1.5vw, 1rem) max(3vw, 2rem);
    font-size: clamp(1rem, 2vw, 1.2rem);
    display: grid;
    grid-template-rows: auto auto;
    gap: max(3vh, 3ch);
    box-shadow: 0 0.2rem 0.3rem -1px #bae6fd;
    z-index: 1;
}

#header>div {
    display: grid;
    align-items: center;
    gap: 1.5ch;
}

#upper {
    grid-template-columns: auto minmax(300px, 1fr) repeat(3, auto);
}

#upper>.search-input {
    background-color: var(--bg-color);
    border-radius: 2em;
    border: none;
    padding: 0.25em 1em;
    width: clamp(300px, 90%, 800px);
    box-shadow: inset 0.1rem -0.1rem 0.25rem #bae6fd;
}

#upper>.search-input:focus,
#upper>.search-input:focus-visible,
#upper>.search-input:active {
    border: none;
    outline: none;
}

#upper .username {
    padding: 0 2rem 0 0.2rem;
    font-weight: bold;
}

#lower {
    grid-template-columns: auto minmax(300px, 1fr) auto;
}

#lower>header {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

#lower>header>h2 {
    font-size: 2em;
}

#lower .profile-picture {
    width: 3em;
}

#button-group {
    display: flex;
    gap: max(2ch, 1vw);
}

#button-group button {
    display: block;
    background-color: var(--main-color);
    padding: 0.5em 1.5em;
    border-radius: 2em;
    border: none;
    color: var(--text-white);
    font-weight: bold;
}

#main {
    grid-area: main;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 1.5rem;
    gap: 1.5rem;
}

#main .section {
    display: grid;
    grid-template-rows: auto 1fr;
}

#main .section>header {
    font-size: 1.2rem;
    font-weight: bold;
}

#main .grid-container {
    display: grid;
    padding: 1rem 0;
}

#main .card>header {
    font-weight: bold;
    font-size: 1.2em;
}

#projects {
    grid-area: 1 / 1 / -1 / 2;
}

#projects>.grid-container {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
}

#projects .card {
    background-color: var(--secondary-color);
    border-radius: 2em;
    padding: 2rem 2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0.5rem;
    box-shadow: var(--shadow), inset 10rem 0 0 -9rem #06b6d4;
}

#projects .card>.card-icons {
    justify-self: end;
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

#announcements,
#trending {
    width: clamp(15rem, 25vw, 20rem);
    font-size: 0.8rem;
}

#announcements>.grid-container,
#trending>.grid-container {
    border-radius: 2em;
    margin: 1rem 0;
    background-color: var(--secondary-color);
    grid-auto-rows: 1fr;
    align-items: center;
    box-shadow: var(--shadow);
}

#announcements .card,
#trending .card {
    margin: 0 1rem;
}

#trending .card {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    gap: 0.5rem;
}

#trending .card>img.profile-picture {
    grid-area: 1 / 1 /span 2/ span 1;
    width: 4em;
    padding-right: 0.5em;
}